@font-face {
    font-family: Helvetica, Arial, sans-serif;
    /*src: local('Mulish Regular'), local('Mulish-Regular'),*/
    /*     url('assets/fonts/mulish-regular.woff2') format('woff2');*/
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Helvetica, Arial, sans-serif;
    /*src: local('Mulish Bold'), local('Mulish-Bold'),*/
    /*     url('assets/fonts/mulish-bold.woff2') format('woff2');*/
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body, button, input, optgroup, select, textarea {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

body.plugin {
    min-width: 400px;
    min-height: 600px;
}

body.disable-animations * {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
}

.body-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

a, a:focus, a:active, a:after {
    color: #3CA4DB;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid transparent;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;

    background-image: linear-gradient(rgba(215, 77, 77, 0), rgba(215, 77, 77, 0)), linear-gradient(rgba(60, 164, 219, 0), rgba(60, 164, 219, 0)), linear-gradient(#e7e7e7, #e7e7e7);
    background-size: 0% 1px, 0% 1px, 100% 1px;
    background-position: bottom center;
    background-repeat: no-repeat;
    transition: 0.2s background-image, 0s 0.2s background-size;
}

input:focus {
    background-image: linear-gradient(rgba(215, 77, 77, 0), rgba(215, 77, 77, 0)), linear-gradient(rgba(60, 164, 219, 1), rgba(60, 164, 219, 1)), linear-gradient(#e7e7e7, #e7e7e7);
    background-size: 100% 1px, 100% 1px, 100% 1px;
    transition: 0.2s background-image, 0.2s background-size;
}

input.error {
    background-image: linear-gradient(rgba(215, 77, 77, 1), rgba(215, 77, 77, 1)), linear-gradient(rgba(60, 164, 219, 0), rgba(60, 164, 219, 0)), linear-gradient(#e7e7e7, #e7e7e7);
    background-size: 100% 1px, 100% 1px, 100% 1px;
    transition: 0.2s background-image, 0.2s background-size;
}


::-webkit-input-placeholder { /* Edge */
    color: #999999;
}

::placeholder {
    color: #999999;
}

.input-label {
    font-weight: 700;
    color: #3CA4DB;
}

button {
    cursor: pointer;
    outline: none;
}

.btn-blue {
    border: none;
    background: #3CA4DB;
    color: white;
    border-radius: 2px;
    height: 39px;
    font-size: 15px;
    font-weight: 700;
}

.btn-lite {
    border: none;
    color: #3CA4DB;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    background: none;
}

.btn-lite-red {
    color: #D74D4D;
}

.btn-round {
    border: none;
    border-radius: 50%;
    color: #919191;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: transparent;
    opacity: .5;
}

.btn-round:hover, .btn-round:active {
    background-color: #2E2F31;
}

.btn-loader {
    pointer-events: none;
}

.btn-loader:after {
    content: '';
    position: absolute;
    transform: translate(8px, 2px);
    width: 8px;
    height: 8px;
    border: 3px solid white;
    border-left: 3px solid transparent;
    border-radius: 50%;
    animation: loading-animation-spin 2s infinite linear;
}

.btn-lite.btn-loader:after {
    transform: translate(6px, 3px);
    width: 6px;
    height: 6px;
    border: 2px solid #3CA4DB;
    border-left: 2px solid transparent;
    animation: loading-animation-spin-small 2s infinite linear;
}

.btn-back {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: none;
    background-color: transparent;
    background-image: url("../assets/ui/arrow.svg");
    transform: scaleX(-1);
    border-radius: 100%;
    background-color: white;
}

.btn-back:hover {
    background-color: #F7F7F7;
}

@keyframes loading-animation-spin {
    to {
        transform: translate(8px, 2px) rotate(1turn);
    }
}

@keyframes loading-animation-spin-small {
    to {
        transform: translate(6px, 3px) rotate(1turn);
    }
}

.screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.middle {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle-content {
    text-align: center;
}

.screen.faded-show {
    opacity: 1;
    visibility: inherit !important;
    transition: 0.3s opacity, 0.3s visibility step-start;
}

.screen.faded-hide {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity, 0.3s visibility step-end;
    animation: 99999999s 0.3s screen-delayed-overflow;
}

.screen.faded-show .middle {
    animation: screen-show-left 0.3s ease-out;
}

.screen.faded-hide .middle {
    animation: screen-hide-left 0.3s ease-in;
}

.screen.faded-show.isBack .middle {
    animation: screen-show-right 0.3s ease-out;
}

.screen.faded-hide.isBack .middle {
    animation: screen-hide-right 0.3s ease-in;
}

.screen.faded-show .screen-lottie {
    opacity: 1;
    transform: scale(1);
    transition: 0.2s opacity, transform 0.2s;
}

.screen.faded-hide .screen-lottie {
    opacity: 0;
    transform: scale(0.3);
    transition: 0.2s opacity, transform 0.25s;
}


@keyframes screen-delayed-overflow {
    from {
        overflow: hidden
    }
}

@keyframes screen-hide-left {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(-25px)
    }
}

@keyframes screen-hide-right {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(25px)
    }
}

@keyframes screen-show-left {
    from {
        transform: translateX(25px)
    }
    to {
        transform: translateX(0px)
    }
}

@keyframes screen-show-right {
    from {
        transform: translateX(-25px)
    }
    to {
        transform: translateX(0px)
    }
}

.addr {
    min-width: 24ch;
    max-width: 24ch;
    hyphens: manual;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    cursor: text;
}

/* SCREENS */

.screen-lottie {
    display: block;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 13px;
}

.screen-title {
    font-size: 20px;
    font-weight: 700;
}

.screen-text {
    font-size: 15px;
    line-height: 19px;
    color: #999;
    margin-top: 8px;
    margin-bottom: 20px
}

.screen-btn {
    width: 190px;
}

#notify {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.15s opacity, 0.15s visibility step-end;
}

#notify.faded-show {
    opacity: 1;
    visibility: inherit !important;
    transition: 0.15s opacity, 0.15s visibility step-start;
}

/* SET PASSWORD */

#createPassword input {
    width: 200px;
    text-align: center;
    font-size: 15px;
}

/* IMPORT && BACKUP && CONFIRM */

#import .btn-lite {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}

#importWords,
#confirmWords,
#createWords {
    max-width: 276px;
    margin-left: auto;
    margin-right: auto;
}

#wordsPopup,
#wordsConfirmPopup {
    position: absolute;
    background: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 92px;

    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    text-align: left;

    border: 1px solid #DCDCDC;
}

#wordsConfirmPopup {
    width: 190px;
}

.words-popup-item {
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.words-popup-item:hover {
    background: #f0f0f0;
}

.words-popup-item.selected {
    background: #f0f0f0;
}

.word-item {
    float: left;
}

.word-num {
    display: inline-block;
    width: 20px;
    text-align: right;
    font-size: 14px;
    color: #999;
    margin-right: 4px;
}

#import .word-num,
#wordsConfirm .word-num {
    margin-right: 8px;
    margin-left: 16px;
}

#import input,
#wordsConfirm input {
    width: 92px;
    height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

#wordsConfirm input {
    width: 190px;
}

.create-word-item {
    float: left;
    width: 136px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
}

/* MAIN> */

#main {
    display: flex;
    flex-direction: column;
}

.head {
    width: 100%;
    background: #000;
    color: white;
    text-align: center;
    padding-bottom: 25px;
}

.head-row {
    color: #919191;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 44px
}

#updateLabel {
    flex-grow: 1;
    font-size: 14px
}

.balance-container {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#balance {
    font-size: 32px;
}

.balance-symbol {
    width: 32px;
    height: 32px;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translate(0, -2px);
    }
    50% {
        transform: translate(0, 2px);
    }
}

.balance-diamond-container {
    position: relative;
    width: 48px;
    height: 48px;
    margin-left: -4px;
}

#diamond {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    animation: MoveUpDown 3s linear infinite;
}

.your-balance {
    font-size: 14px;
    margin-bottom: 49px;
    color: #eee
}

#main .btn-blue {
    width: 140px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 450px) {
    #main .btn-blue {
        width: 100px;
        margin-left: 4px;
        margin-right: 4px;
    }
}

@media (max-width: 320px) {
    #main .btn-blue {
        width: 85px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

.btn-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4px;
}

#walletCreated {
    text-align: center;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -75px;
    font-weight: 700;
    font-size: 20px;
}

#walletCreated tgs-player {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

/* menu dropdown */

#menuDropdown {
    position: absolute;
    right: 50px;
    top: 50px;

    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    min-width: 180px;
}

.dropdown-item {
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

/* menu dropdown toggle */

.dropdown-toggle {
    position: absolute;
    top: 4px;
    right: 8px;
    width: 46px;
    height: 24px;
    background-color: #ddd;
    border-radius: 16px;
}

.dropdown-toggle:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transition: left 0.2s cubic-bezier(0, 1, 0.5, 1);
}

.dropdown-toggle.toggle-on {
    background-color: #3CA4DB;
}

.toggle-on.dropdown-toggle:after {
    left: 24px;
}

/* TRANSACTIONS */

#transactionsContainer {
    position: relative;
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#transactionsList {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.date-separator {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.tx-item {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E7E7E7;
    cursor: pointer;
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.tx-amount {
    font-weight: 700;
    font-size: 16px;
    color: #D74D4D;
}

.tx-amount-green {
    color: #39B139;
}

.tx-from {
    font-size: 13px;
}

.tx-addr {
    font-family: monospace;
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    word-break: keep-all;
}

.tx-comment {
    color: #000;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tx-fee {
    color: #999999;
    font-size: 13px;
}

.tx-item-date {
    position: absolute;
    top: 0;
    right: 0;
    color: #999999;
    font-size: 13px;
    line-height: 26px;
}

/* POPUP */

#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, .25);

    width: 320px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    font-size: 14px;
}

.popup#alert {
    position: fixed;
}

.popup.faded-show,
#menuDropdown.faded-show,
#modal.faded-show {
    opacity: 1;
    visibility: inherit !important;
    transition: 0.15s opacity, 0.15s visibility step-start;
}

.popup.faded-hide,
#menuDropdown.faded-hide,
#modal.faded-hide {
    opacity: 0;
    visibility: hidden;
    transition: 0.15s opacity, 0.15s visibility step-end;
}

.popup-title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 17px;
}

.popup-text {
    font-size: 14px;
    line-height: 18px;
}

.popup-black-text {
    font-size: 14px;
    line-height: 18px;
}

.about-magic {
    display: none;
    text-align: left;
}

.plugin .about-magic {
    display: block;
}

.about-magic h4 {
    margin-bottom: 12px;
}

.about-magic p {
    margin-top: 12px;
}

.popup-grey-text {
    line-height: 18px;
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px
}

.popup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border: none;
    background-color: transparent;
    background-image: url("../assets/ui/close.svg");
}

.popup-footer {
    text-align: right;
    margin-top: 10px;
}

.popup .btn-blue {
    width: 100%;
}

.popup tgs-player {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto
}

.popup input {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 36px;
}

/* RECEIVE POPUP */

.qr-container {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#qr, #invoiceQrImg {
    width: 185px;
    height: 185px;
    margin-left: auto;
    margin-right: auto;
}

#qr img, #invoiceQrImg img, #invoiceQrImg canvas {
    width: 185px;
    height: 185px;
}

#receive .my-addr {
    font-family: monospace;
    text-align: center;
    font-size: 18px;
    margin-top: -4px;
    max-width: 280px;
    height: 42px;
    cursor: pointer;
}

#receive .btn-lite {
    text-align: center;
    width: 100%;
    font-weight: 400;
}

#receive .btn-lite-first {
    margin-top: 20px;
}

#receive .btn-blue {
    margin-top: 10px;
}

/* SEND POPUP */

#send .btn-blue {
    margin-top: 20px;
}

#sendBalance {
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
    font-size: 14px;
}


#sendConfirm .addr, #signConfirm .addr {
    font-family: monospace;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    padding: 10px;
    background-color: #F1F1F1;
}

/* INVOICE POPUP */

#invoice .popup-black-text {
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}

#invoice .btn-lite {
    text-align: center;
    width: 100%;
    font-weight: 400;
}

#invoice .btn-blue {
    margin-top: 10px;
}

#invoiceQr .btn-blue {
    margin-top: 20px;
}

#invoice_link {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    cursor: text;
}

/* TRANSACTION POPUP */

#transactionSender {
    font-family: monospace;
    max-width: 280px;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#transactionComment {
    word-break: break-all;
}

#transactionAmount {
    font-size: 28px;
    text-align: center;
    margin-bottom: 8px;
}

#transactionFee, #transactionStorageFee {
    color: #999;
    text-align: center;
}

#transaction .input-label {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* EXTENSION */

#menu_magic {
    display: none;
}

#menu_proxy {
    display: none;
    pointer-events: none;
}

#menu_telegram {
    display: none;
}

.plugin .menu_telegram-show {
    display: block !important;
}

#menu_proxy:after {
    position: absolute;
    top: 4px;
    line-height: 8px;
    right: 70px;
    width: 14px;
    height: 8px;
    font-size: 10px;
    color: #1d98dc;
    border-radius: 4px;
    padding: 4px;
    content: 'Soon';
}

.plugin #menu_magic {
    display: block;
}

.plugin #menu_proxy {
    display: block;
}


.plugin #menu_extension_chrome {
    display: none;
}

#menu_extension_firefox {
    display: none;
}

.plugin #start_importLedgerHidBtn {
    display: none;
}

#start_importLedgerHidBtn {
    display: none;
}

.input-password {
    text-align: center;
    width: 200px;
    margin-left: 40px;
    font-size: 15px;
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.rotate-180 {
    transform: rotate(180deg);
}

.position-relative {
    position: relative;
}

.clear-both {
    clear: both;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 700;
}

.text-danger {
    color: #D74D4D;
}

.line-height-24 {
    line-height: 24px;
}

.text-align-center {
    text-align: center;
}

.bg-down-left {
    background-image: url('../assets/ui/down-left.svg')
}

.bg-menu {
    background-image: url('../assets/ui/menu.svg')
}

.bg-refresh {
    background-image: url('../assets/ui/refresh.svg')
}

.w-100 {
    width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-18 {
    margin-top: 18px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-26 {
    margin-top: 26px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-38 {
    margin-top: 38px;
}

.mt-54 {
    margin-top: 54px;
}

.mt-80 {
    margin-top: 95px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-170 {
    margin-top: 170px;
}

.pb-10 {
    padding-bottom: 10px;
}
